/* MyComponent.module.css */

.imageContainer {
    position: relative;
    width: 25%;
    margin-inline: 30px;
    margin-block: 20px;
    min-width: 270px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .imageContainer img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover; /* Asegura que la imagen cubra todo el área del contenedor */
    transition: transform 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    top: 308;
    width: 100%;
    height: 35%; /* Hover cubre el 25% superior de la imagen */
    background: rgba(0, 0, 0, 0.5);/*  Fondo semitransparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    opacity: 1;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  
  .overlayTextTitle {
    font-family: 'Montserrat';
    font-size: clamp(1.4rem, 2vw, 1.7rem);
    text-align: center;
    margin: 0;
    color: #E40C38;
  }
  .overlayText{
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight:10;
    text-align: center;
    margin-inline: 5px;
  }

  .sobreMiContainer {
    margin: 0 auto;
    /* Color de fondo suave */
  }
  
  .sobreMiContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Espacio entre la imagen y el texto */
    min-width: 400px;
    margin: 0 auto;
  }
  
  .sobreMiImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sobreMiImage {
    border-radius: 15px;
    width: 80%;
    max-width: 300px;
    object-fit: cover;
  }
  
  .sobreMiTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sobreMiTitle {
    font-size: 40;
    color: #E40C38;
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sobreMiDescription {
    font-size: 18px;
    
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
  }

  @media (max-width: 768px) {
    .sobreMiContent {
      flex-direction: column; /* Cambia a columna para los dispositivos móviles */
      align-items: center;  /* Centra el contenido */
    }
  
    .sobreMiImageContainer {
      margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    }
  
    .sobreMiTextContainer {
      align-items: center; /* Centra el texto */
    }
  }