/* Estilos del menú */
.navbar {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7455357142857143) 42%, rgba(0, 0, 0, 0.4234068627450981) 63%, rgba(5, 5, 5, 0.19371498599439774) 78%, rgba(14, 14, 14, 0.08167016806722693) 89%, rgba(255, 255, 255, 0.020045518207282953) 100%);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  left: 0;
}

.logo {
  display: flex;
  flex: 30%;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 50;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;

}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #f0f0f0;
}

/* Estilos para el botón hamburguesa */
.menuToggle {
  cursor: pointer;
  display: none;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-inline: 40;
  margin-top: 20px;
  width: 100%;
}

.menuToggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.containerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.butons {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius: 26;
  min-width: 80;
  text-align: center;
  padding: 11;
}

.butons:hover {
  background-color: rgb(34, 33, 33);
  /* Cambia a un color atractivo cuando el cursor esté sobre el enlace */
}

/* Estilos en pantallas pequeñas (menos de 768px) */
@media (max-width: 1210px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
  }

  .menu.active {
    display: flex;
  }

  .menuToggle {
    display: flex;
  }
}

@media (max-width: 1500px) {

  .containerMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
}