/* Estilos del menú */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo h1 {
    margin: 0;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 40;
    margin-top: 20px;
    margin-bottom: 40px;
    /* background-color: red; */
  }
  
  .menu li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover {
    color: #f0f0f0;
  }
  
  /* Estilos para el botón hamburguesa */
  .menuToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menuToggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
  
  /* Estilos en pantallas pequeñas (menos de 768px) */
  @media (max-width: 1100px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #333;
      width: 200px;
      padding: 10px;
      border-radius: 5px;
    }
  
    .menu.active {
      display: flex;
    }
  
    .menuToggle {
      display: flex;
    }
  }
  